p {
    margin-bottom: 0;
}

.own-appointments-max-height {
    max-height: 20rem;
    overflow: auto;
}
.appointments-max-height {
    max-height: 40rem;
    overflow: auto;
}

.cursor-pointer {
    cursor: pointer;
}